In [1]:
import os
import pandas as pd
from tqdm import tqdm

In [142]:
data_0_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_0.csv"
data_1_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_1.csv"
data_2_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_2.csv"
data_3_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_3.csv"
data_4_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_4.csv"
data_5_path = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_1\data_5.csv"

In [144]:
data_0 = pd.read_csv(data_0_path)
data_0.head()

,time,latitude,longitude,number,step,depthBelowLandLayer,valid_time,swvl1,stl1
0,2020-01-01 00:00:00,54.67,-1.48,0,0 days,0.0,2020-01-01 00:00:00,0.364365,275.67004
1,2020-01-01 00:00:00,54.67,-1.38,0,0 days,0.0,2020-01-01 00:00:00,0.356476,276.17297
2,2020-01-01 00:00:00,54.67,-1.28,0,0 days,0.0,2020-01-01 00:00:00,0.316345,276.55580
3,2020-01-01 00:00:00,54.67,-1.18,0,0 days,0.0,2020-01-01 00:00:00,0.338577,276.89185
4,2020-01-01 00:00:00,54.67,-1.08,0,0 days,0.0,2020-01-01 00:00:00,NaN,NaN

In [145]:
data_1 = pd.read_csv(data_1_path)
data_1.head()

,time,latitude,longitude,number,step,depthBelowLandLayer,valid_time,swvl2,stl2
0,2020-01-01 00:00:00,54.67,-1.48,0,0 days,7.0,2020-01-01 00:00:00,0.372498,276.85486
1,2020-01-01 00:00:00,54.67,-1.38,0,0 days,7.0,2020-01-01 00:00:00,0.364845,277.27277
2,2020-01-01 00:00:00,54.67,-1.28,0,0 days,7.0,2020-01-01 00:00:00,0.324913,277.58923
3,2020-01-01 00:00:00,54.67,-1.18,0,0 days,7.0,2020-01-01 00:00:00,0.346695,277.93860
4,2020-01-01 00:00:00,54.67,-1.08,0,0 days,7.0,2020-01-01 00:00:00,NaN,NaN

In [146]:
data_2 = pd.read_csv(data_2_path)
data_2.head()

,time,latitude,longitude,number,step,depthBelowLandLayer,valid_time,swvl3,stl3
0,2020-01-01 00:00:00,54.67,-1.48,0,0 days,28.0,2020-01-01 00:00:00,0.394241,279.31732
1,2020-01-01 00:00:00,54.67,-1.38,0,0 days,28.0,2020-01-01 00:00:00,0.385216,279.54670
2,2020-01-01 00:00:00,54.67,-1.28,0,0 days,28.0,2020-01-01 00:00:00,0.346817,279.75677
3,2020-01-01 00:00:00,54.67,-1.18,0,0 days,28.0,2020-01-01 00:00:00,0.368874,279.95703
4,2020-01-01 00:00:00,54.67,-1.08,0,0 days,28.0,2020-01-01 00:00:00,NaN,NaN

In [53]:
data_3 = pd.read_csv(data_3_path)
data_3.head()

,time,latitude,longitude,number,step,depthBelowLandLayer,valid_time,swvl4,stl4
0,2020-01-01 00:00:00,54.67,-1.48,0,0 days,100.0,2020-01-01 00:00:00,0.390198,281.26154
1,2020-01-01 00:00:00,54.67,-1.38,0,0 days,100.0,2020-01-01 00:00:00,0.379151,281.51044
2,2020-01-01 00:00:00,54.67,-1.28,0,0 days,100.0,2020-01-01 00:00:00,0.341439,281.65625
3,2020-01-01 00:00:00,54.67,-1.18,0,0 days,100.0,2020-01-01 00:00:00,0.364723,281.92890
4,2020-01-01 00:00:00,54.67,-1.08,0,0 days,100.0,2020-01-01 00:00:00,NaN,NaN

In [147]:
data_4 = pd.read_csv(data_4_path)
data_4.shape

(737280, 14)

In [148]:
data_4 = pd.read_csv(data_4_path)
data_4['time'] = pd.to_datetime(data_4['time'])
data_4 = data_4[data_4['time'].dt.year == 2020].reset_index(drop=True)
data_4['time'] = data_0['time']
data_4.shape

(714240, 14)

In [149]:
is_time_same = data_0['time'].equals(data_4['time'])
is_time_same

True

In [150]:
data_0['time']

0         2020-01-01 00:00:00
1         2020-01-01 00:00:00
2         2020-01-01 00:00:00
3         2020-01-01 00:00:00
4         2020-01-01 00:00:00
                 ...
714235    2020-01-31 23:00:00
714236    2020-01-31 23:00:00
714237    2020-01-31 23:00:00
714238    2020-01-31 23:00:00
714239    2020-01-31 23:00:00
Name: time, Length: 714240, dtype: object

In [151]:
data_4['time']

0         2020-01-01 00:00:00
1         2020-01-01 00:00:00
2         2020-01-01 00:00:00
3         2020-01-01 00:00:00
4         2020-01-01 00:00:00
                 ...
714235    2020-01-31 23:00:00
714236    2020-01-31 23:00:00
714237    2020-01-31 23:00:00
714238    2020-01-31 23:00:00
714239    2020-01-31 23:00:00
Name: time, Length: 714240, dtype: object

In [152]:
data_4.head()

,time,step,latitude,longitude,number,surface,valid_time,sro,ssro,smlt,sf,e,ro,tp
0,2020-01-01 00:00:00,0 days 01:00:00,54.67,-1.48,0,0.0,2020-01-01 01:00:00,1.955621e-08,0.000051,0.000000e+00,0.0,0.000008,0.000051,0.000002
1,2020-01-01 00:00:00,0 days 01:00:00,54.67,-1.38,0,0.0,2020-01-01 01:00:00,2.084505e-08,0.000043,3.493228e-11,0.0,0.000005,0.000043,0.000002
2,2020-01-01 00:00:00,0 days 01:00:00,54.67,-1.28,0,0.0,2020-01-01 01:00:00,5.886736e-08,0.000046,1.863162e-10,0.0,0.000001,0.000046,0.000006
3,2020-01-01 00:00:00,0 days 01:00:00,54.67,-1.18,0,0.0,2020-01-01 01:00:00,1.111647e-07,0.000048,3.259322e-10,0.0,-0.000002,0.000048,0.000010
4,2020-01-01 00:00:00,0 days 01:00:00,54.67,-1.08,0,0.0,2020-01-01 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
data_5 = pd.read_csv(data_5_path)
data_5.head()

,time,latitude,longitude,number,step,surface,valid_time,skt
0,2020/1/1 0:00,54.67,-1.48,0,0 days,0,2020/1/1 0:00,274.69922
1,2020/1/1 0:00,54.67,-1.38,0,0 days,0,2020/1/1 0:00,275.19970
2,2020/1/1 0:00,54.67,-1.28,0,0 days,0,2020/1/1 0:00,275.63940
3,2020/1/1 0:00,54.67,-1.18,0,0 days,0,2020/1/1 0:00,275.95496
4,2020/1/1 0:00,54.67,-1.08,0,0 days,0,2020/1/1 0:00,NaN

In [154]:
data_0 = data_0.drop(columns = ['number','step','depthBelowLandLayer','valid_time'], errors = 'ignore')
data_1 = data_1.drop(columns = ['number','step','depthBelowLandLayer','valid_time'], errors = 'ignore')
data_2 = data_2.drop(columns = ['number','step','depthBelowLandLayer','valid_time'], errors = 'ignore')
data_3 = data_3.drop(columns = ['number','step','depthBelowLandLayer','valid_time'], errors = 'ignore')
data_4 = data_4.drop(columns = ['number','step','surface','valid_time'], errors = 'ignore')
data_5 = data_5.drop(columns = ['number','step','surface','valid_time'], errors = 'ignore')

## data formatting

In [155]:
print(data_0.shape,data_1.shape,data_2.shape,data_3.shape,data_4.shape,data_5.shape)

(714240, 5) (714240, 5) (714240, 5) (714240, 5) (714240, 10) (714240, 4)

In [164]:
# List of all datasets
datasets = [data_0, data_1, data_2, data_3, data_4, data_5]

# Initialize a flag for each column to True
time_is_same = True
latitude_is_same = True
longitude_is_same = True

# Loop through datasets and compare with the reference (data_0)
for i in range(1, len(datasets)):
    time_is_same &= data_0['time'].equals(datasets[i]['time'])
    latitude_is_same &= data_0['latitude'].equals(datasets[i]['latitude'])
    longitude_is_same &= data_0['longitude'].equals(datasets[i]['longitude'])

# Output the results
print(f"All datasets have identical 'time' columns: {time_is_same}")
print(f"All datasets have identical 'latitude' columns: {latitude_is_same}")
print(f"All datasets have identical 'longitude' columns: {longitude_is_same}")

All datasets have identical 'time' columns: True
All datasets have identical 'latitude' columns: True
All datasets have identical 'longitude' columns: True

In [163]:
# Lists to store indices of datasets with differences
different_time = []
different_latitude = []
different_longitude = []

# Loop through datasets and compare with the reference (data_0)
for i in range(1, len(datasets)):
    if not data_0['time'].equals(datasets[i]['time']):
        different_time.append(i)
    if not data_0['latitude'].equals(datasets[i]['latitude']):
        different_latitude.append(i)
    if not data_0['longitude'].equals(datasets[i]['longitude']):
        different_longitude.append(i)

# Output the results
print("Datasets with different 'time' column:", different_time)
print("Datasets with different 'latitude' column:", different_latitude)
print("Datasets with different 'longitude' column:", different_longitude)

Datasets with different 'time' column: []
Datasets with different 'latitude' column: []
Datasets with different 'longitude' column: []

In [158]:
unmatched_time_data_4 = data_4[~data_4['time'].isin(data_0['time'])]
print("Rows in data_4 with unmatched time:", unmatched_time_data_4)

Rows in data_4 with unmatched time: Empty DataFrame
Columns: [time, latitude, longitude, sro, ssro, smlt, sf, e, ro, tp]
Index: []

In [159]:
for i, dataset in enumerate(datasets):
    dataset['latitude'] = dataset['latitude'].astype(float).round(2)
    dataset['longitude'] = dataset['longitude'].astype(float).round(2)

In [162]:
for i, dataset in enumerate(datasets):
    dataset['time'] = pd.to_datetime(dataset['time'])

## merge data Jan

In [170]:
merged_data_1 = data_0.merge(data_1, on = ['time','latitude','longitude'],how='outer')
merged_data_1 = merged_data_1.merge(data_2, on = ['time','latitude','longitude'],how='outer')
merged_data_1 = merged_data_1.merge(data_3, on = ['time','latitude','longitude'],how='outer')
merged_data_1 = merged_data_1.merge(data_4, on = ['time','latitude','longitude'],how='outer')
merged_data_1 = merged_data_1.merge(data_5, on = ['time','latitude','longitude'],how='outer')

merged_data_1.shape

(714240, 19)

In [171]:
merged_data_1.head()

,time,latitude,longitude,swvl1,stl1,swvl2,stl2,swvl3,stl3,swvl4,stl4,sro,ssro,smlt,sf,e,ro,tp,skt
0,2020-01-01,51.77,-1.48,0.400002,279.63098,0.404694,279.99463,0.431854,280.60474,0.440354,282.84753,2.104892e-08,0.000093,9.298817e-11,0.0,-0.000006,0.000093,0.000002,279.10107
1,2020-01-01,51.77,-1.38,0.381577,279.64430,0.386902,280.00910,0.417465,280.60223,0.413269,282.79340,1.471452e-08,0.000066,1.397300e-10,0.0,-0.000006,0.000066,0.000001,279.12610
2,2020-01-01,51.77,-1.28,0.394730,279.62450,0.399918,279.96520,0.429047,280.60406,0.420624,282.91100,1.303565e-08,0.000049,1.282924e-10,0.0,-0.000006,0.000049,0.000001,279.13220
3,2020-01-01,51.77,-1.18,0.421715,279.56677,0.426155,279.87335,0.454674,280.59546,0.450928,283.07580,2.160743e-08,0.000052,6.986500e-11,0.0,-0.000007,0.000052,0.000002,279.10828
4,2020-01-01,51.77,-1.08,0.436607,279.54530,0.440918,279.83392,0.468422,280.59235,0.467293,283.15490,2.551812e-08,0.000054,0.000000e+00,0.0,-0.000006,0.000054,0.000002,279.09520

In [172]:
merged_data_1['time']

0        2020-01-01 00:00:00
1        2020-01-01 00:00:00
2        2020-01-01 00:00:00
3        2020-01-01 00:00:00
4        2020-01-01 00:00:00
                 ...
714235   2020-01-31 23:00:00
714236   2020-01-31 23:00:00
714237   2020-01-31 23:00:00
714238   2020-01-31 23:00:00
714239   2020-01-31 23:00:00
Name: time, Length: 714240, dtype: datetime64[ns]

In [173]:
columns_rename = {
    'swvl1': 'soil_water_layer1',
    'stl1': 'soil_temperature_layer1',
    'swvl2': 'soil_water_layer2',
    'stl2': 'soil_temperature_layer2',
    'swvl3': 'soil_water_layer3',
    'stl3': 'soil_temperature_layer3',
    'swvl4': 'soil_water_layer4',
    'stl4': 'soil_temperature_layer4',
    'sro': 'surface_runoff',
    'ssro': 'subsurface_runoff',
    'smlt': 'snow_melt',
    'sf': 'snowfall',
    'e': 'evaporation',
    'ro': 'runoff',
    'tp': 'total_precipitation',
    'skt': 'skin_temperature'
}

In [174]:
merged_data_1.rename(columns = columns_rename, inplace = True)
merged_data_1.head()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
0,2020-01-01,51.77,-1.48,0.400002,279.63098,0.404694,279.99463,0.431854,280.60474,0.440354,282.84753,2.104892e-08,0.000093,9.298817e-11,0.0,-0.000006,0.000093,0.000002,279.10107
1,2020-01-01,51.77,-1.38,0.381577,279.64430,0.386902,280.00910,0.417465,280.60223,0.413269,282.79340,1.471452e-08,0.000066,1.397300e-10,0.0,-0.000006,0.000066,0.000001,279.12610
2,2020-01-01,51.77,-1.28,0.394730,279.62450,0.399918,279.96520,0.429047,280.60406,0.420624,282.91100,1.303565e-08,0.000049,1.282924e-10,0.0,-0.000006,0.000049,0.000001,279.13220
3,2020-01-01,51.77,-1.18,0.421715,279.56677,0.426155,279.87335,0.454674,280.59546,0.450928,283.07580,2.160743e-08,0.000052,6.986500e-11,0.0,-0.000007,0.000052,0.000002,279.10828
4,2020-01-01,51.77,-1.08,0.436607,279.54530,0.440918,279.83392,0.468422,280.59235,0.467293,283.15490,2.551812e-08,0.000054,0.000000e+00,0.0,-0.000006,0.000054,0.000002,279.09520

## funtion

In [210]:
def generate_timerange(file_path):
    data = pd.read_csv(file_path,parse_dates=['time'])
    data['time'] = pd.to_datetime(data['time'])
    start_time = data['time'].min()
    year, month = start_time.year, start_time.month
    start_timerange = pd.Timestamp(year = year, month =month, day = 1, hour =0, minute =0 )
    end_timerange = (start_timerange + pd.offsets.MonthEnd(1)).replace(hour=23, minute=0)
    time_range = pd.date_range(start=start_timerange, end=end_timerange, freq="h")
    df_time = pd.DataFrame({"time": time_range})
    return df_time

In [211]:
def read_data(base_path,datasets,month_num,example_path):
    for i in range(6):
        file_path = f"{base_path}/data_{i}.csv"
        data = pd.read_csv(file_path)      
        if i == 4:
            data_example = pd.read_csv(example_path)
            data['time'] = pd.to_datetime(data['time'])
            data = data[data['time'].dt.month == month_num].reset_index(drop=True)
            data['time'] = data_example['time']
        datasets.append(data)
        print(data.shape)
    return datasets

In [213]:
def standardize_columns(datasets):
    for i, dataset in enumerate(datasets):
        dataset['latitude'] = dataset['latitude'].astype(float).round(2)
        dataset['longitude'] = dataset['longitude'].astype(float).round(2)
        dataset['time'] = pd.to_datetime(dataset['time'])
    reference = datasets[0]
    
    time_is_same = True
    latitude_is_same = True
    longitude_is_same = True
    for i in range(1, len(datasets)):
        time_is_same &= reference['time'].equals(datasets[i]['time'])
        latitude_is_same &= reference['latitude'].equals(datasets[i]['latitude'])
        longitude_is_same &= reference['longitude'].equals(datasets[i]['longitude'])
    print(f"All datasets have identical 'time' columns: {time_is_same}")
    print(f"All datasets have identical 'latitude' columns: {latitude_is_same}")
    print(f"All datasets have identical 'longitude' columns: {longitude_is_same}")

In [226]:
def merge_data(datasets, on_columns):
    merged_data = datasets[0]
    for i, dataset in enumerate(datasets):
        datasets[i] = dataset.drop(columns=['number','step','depthBelowLandLayer','valid_time','surface'], errors='ignore')
    for i in range(1,len(datasets)):
        merged_data = merged_data.merge(datasets[i], on =on_columns,how='outer')
    merged_data = merged_data.drop(columns=['number','step','depthBelowLandLayer','valid_time'], errors='ignore')
    merged_data.rename(columns = columns_rename, inplace = True)
    return merged_data

## merge data FEB

In [238]:
datasets_2 = []
base_path_2 = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_2"
example_data = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_2\data_0.csv"
on_columns= ['time','latitude','longitude']

In [232]:
datasets_2 = read_data(base_path_2,datasets_2,2,example_data)

(668160, 9)
(668160, 9)
(668160, 9)
(668160, 9)
(668160, 14)
(668160, 8)

In [233]:
standardize_columns(datasets_2)

All datasets have identical 'time' columns: True
All datasets have identical 'latitude' columns: True
All datasets have identical 'longitude' columns: True

In [235]:
merged_data_2 = merge_data(datasets_2,on_columns)
merged_data_2.shape

(668160, 19)

In [236]:
merged_data_2.head()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
0,2020-02-01,51.77,-1.48,0.408211,281.96722,0.415245,281.14496,0.420853,279.74005,0.437945,281.60120,0.0,0.000077,0.0,0.0,-0.000007,0.000077,0.0,282.71234
1,2020-02-01,51.77,-1.38,0.389053,282.00748,0.396736,281.20178,0.408661,279.74402,0.416354,281.51580,0.0,0.000069,0.0,0.0,-0.000007,0.000069,0.0,282.74830
2,2020-02-01,51.77,-1.28,0.403297,282.01297,0.410881,281.17584,0.423843,279.74250,0.426890,281.61920,0.0,0.000060,0.0,0.0,-0.000007,0.000060,0.0,282.76007
3,2020-02-01,51.77,-1.18,0.433395,281.99146,0.440758,281.09866,0.451462,279.72290,0.455622,281.78406,0.0,0.000061,0.0,0.0,-0.000008,0.000061,0.0,282.76514
4,2020-02-01,51.77,-1.08,0.448303,281.99908,0.455307,281.06662,0.465645,279.71960,0.471003,281.86932,0.0,0.000064,0.0,0.0,-0.000008,0.000064,0.0,282.82250

## merge data MAR

In [245]:
datasets_3 = []
base_path_3 = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_3"
example_data_3 = r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_3\data_0.csv"

In [246]:
datasets_3 = read_data(base_path_3,datasets_3,3,example_data_3)

(714240, 9)
(714240, 9)
(714240, 9)
(714240, 9)
(714240, 14)
(714240, 8)

In [247]:
standardize_columns(datasets_3)

All datasets have identical 'time' columns: True
All datasets have identical 'latitude' columns: True
All datasets have identical 'longitude' columns: True

In [249]:
merged_data_3 = merge_data(datasets_3,on_columns)
merged_data_3.shape

(714240, 19)

## merga all

In [253]:
merged_data_1.shape

(714240, 19)

In [254]:
merged_data_2.shape

(668160, 19)

In [255]:
merged_data_3.shape

(714240, 19)

In [256]:
final_merged_data = pd.concat([merged_data_1, merged_data_2, merged_data_3], axis=0, ignore_index=True)
print(final_merged_data.shape)

(2096640, 19)

In [257]:
final_merged_data.head()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
0,2020-01-01,51.77,-1.48,0.400002,279.63098,0.404694,279.99463,0.431854,280.60474,0.440354,282.84753,2.104892e-08,0.000093,9.298817e-11,0.0,-0.000006,0.000093,0.000002,279.10107
1,2020-01-01,51.77,-1.38,0.381577,279.64430,0.386902,280.00910,0.417465,280.60223,0.413269,282.79340,1.471452e-08,0.000066,1.397300e-10,0.0,-0.000006,0.000066,0.000001,279.12610
2,2020-01-01,51.77,-1.28,0.394730,279.62450,0.399918,279.96520,0.429047,280.60406,0.420624,282.91100,1.303565e-08,0.000049,1.282924e-10,0.0,-0.000006,0.000049,0.000001,279.13220
3,2020-01-01,51.77,-1.18,0.421715,279.56677,0.426155,279.87335,0.454674,280.59546,0.450928,283.07580,2.160743e-08,0.000052,6.986500e-11,0.0,-0.000007,0.000052,0.000002,279.10828
4,2020-01-01,51.77,-1.08,0.436607,279.54530,0.440918,279.83392,0.468422,280.59235,0.467293,283.15490,2.551812e-08,0.000054,0.000000e+00,0.0,-0.000006,0.000054,0.000002,279.09520

In [260]:
final_merged_data.tail(30)

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
2096610,2020-03-31 23:00:00,54.67,-1.28,0.269241,278.63074,0.271744,279.89594,0.306381,279.65234,0.347921,279.51172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.23950
2096611,2020-03-31 23:00:00,54.67,-1.18,0.292755,278.81934,0.294487,279.96875,0.329063,279.77820,0.369421,279.74414,NaN,NaN,NaN,NaN,NaN,NaN,NaN,277.56323
2096612,2020-03-31 23:00:00,54.67,-1.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096613,2020-03-31 23:00:00,54.67,-0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096614,2020-03-31 23:00:00,54.67,-0.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096615,2020-03-31 23:00:00,54.67,-0.78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096616,2020-03-31 23:00:00,54.67,-0.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096617,2020-03-31 23:00:00,54.67,-0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096618,2020-03-31 23:00:00,54.67,-0.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096619,2020-03-31 23:00:00,54.67,-0.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096620,2020-03-31 23:00:00,54.67,-0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096621,2020-03-31 23:00:00,54.67,-0.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096622,2020-03-31 23:00:00,54.67,-0.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096623,2020-03-31 23:00:00,54.67,0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096624,2020-03-31 23:00:00,54.67,0.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096625,2020-03-31 23:00:00,54.67,0.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096626,2020-03-31 23:00:00,54.67,0.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096627,2020-03-31 23:00:00,54.67,0.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096628,2020-03-31 23:00:00,54.67,0.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096629,2020-03-31 23:00:00,54.67,0.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096630,2020-03-31 23:00:00,54.67,0.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096631,2020-03-31 23:00:00,54.67,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096632,2020-03-31 23:00:00,54.67,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096633,2020-03-31 23:00:00,54.67,1.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096634,2020-03-31 23:00:00,54.67,1.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096635,2020-03-31 23:00:00,54.67,1.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096636,2020-03-31 23:00:00,54.67,1.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096637,2020-03-31 23:00:00,54.67,1.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096638,2020-03-31 23:00:00,54.67,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096639,2020-03-31 23:00:00,54.67,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [263]:
final_merged_data.shape

(2096640, 19)

In [264]:
final_merged_data.to_csv(r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_Q1\2020_Q1.csv.gz", index=False, compression="gzip")

In [265]:
final_merged_data_test = pd.read_csv(r"D:\qing_research\1_rainfall_water\1_rainfall_water_network\data\weather\ERA5_Land_process\2020_Q1\2020_Q1.csv.gz", compression="gzip")
final_merged_data_test.tail()

,time,latitude,longitude,soil_water_layer1,soil_temperature_layer1,soil_water_layer2,soil_temperature_layer2,soil_water_layer3,soil_temperature_layer3,soil_water_layer4,soil_temperature_layer4,surface_runoff,subsurface_runoff,snow_melt,snowfall,evaporation,runoff,total_precipitation,skin_temperature
2096635,2020-03-31 23:00:00,54.67,1.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096636,2020-03-31 23:00:00,54.67,1.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096637,2020-03-31 23:00:00,54.67,1.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096638,2020-03-31 23:00:00,54.67,1.52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2096639,2020-03-31 23:00:00,54.67,1.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [266]:
final_merged_data_test.shape

(2096640, 19)